body{
    margin: 0;
    width: 1280px;
    font-family: 'Poppins',sans-serif;
}

main:after{
    content: '';
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}

.conteudo{
    /* background-color: aqua; */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
   
}

.informacoes{
    /* background-color: blueviolet; */
}

.descricao{
    width: 30%;
    font-size: 24px;
    line-height: 35px;
    color: aliceblue;
    margin-left: 300px;

}
 .logo{
    margin-left: 300px;
    width: 300px;
    /* filter: invert(1); */
}
.botoes-carrossel{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 5px;
}

.botoes-carrossel .botao{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-color: aliceblue;
    cursor: pointer;
}

.botoes-carrossel .botao.selecionado{
    background-color: darkgreen;
}

.menu-lateral{
    /* background-color: cadetblue; */
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral .icone{
    width: 45px;
    filter: invert(1);
    transition: 0.3s ease-in-out;

}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-lateral .icone:hover{
    transform: scale(1.4);
}

.carrossel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    animation: mudarimagem 0.7s     

}

.carrossel .imagem{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    display: none;
}

.carrossel .imagem.ativa{
    display: block;
}

@keyframes mudarimagem{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1.0;
    }
}
